  body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1 {
      color: rgb(152, 0, 0);
      font-size: 30px;
  }
  
  h2 {
      font-weight: normal;
  }
  
  p {
      font-size: 17px;
      color: rgb(68, 67, 67);
      max-width: 400px;
  }
  
  a {
      color: #000;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 20px;
  }